<% if user_signed_in? %>

  <% if @parking.favorited_by?(current_user) %>
    <%= link_to parking_favorites_path(parking_id: @parking.id, id: @parking.favorites[0].id), method: :delete, remote: true do %>
      <div class="vertical_favorite">
        <i class="fas fa-star fa-2x"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to parking_favorites_path(@parking.id), method: :post, remote: true do %>
      <div class="vertical_favorite">
        <i class="far fa-star fa-2x lightgray"></i>
      </div>
    <% end %>
  <% end %>
<% end %>