<% if resource.errors.any? %>
  <div id="error_explanation" class="text-center w-11/12 sm:w-1/2 mx-auto">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>エラーが発生しました。</li>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
