<div class="text-center">
  <h2 class="text-2xl"><%= @parking.name %></h4>
  <div class="card-body">
    <p class="card-text"><%= @parking.address %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @parking.name %></p>
  </div>
</div>