<%= form_with(url: search_path, :method => 'get') do |f| %>
  <%= f.text_field :location, value: params[:location], placeholder: "住所や地名を入力して下さい",size: 20, class: "my-5 sm:my-0 form" %>
  <%= f.select :keyword, [
    ['距離が近い順', 'near'],
    ['１時間当たりの駐輪料金が安い順', 'inexpensive'],
    ['収容台数が多い順', 'capacity']
  ], {}, class: "form" %>
  <%= f.submit '検索', class: "button" %>
<% end %>
<button id="get_current_spot" type="button" class="button my-5">現在地を取得</button>