<div class="flex flex-wrap justify-between">
  <% @parkings.each do |parking| %>
    <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5' %>
  <% end %> 
</div>