<h2 class="text-3xl my-10 text-center">お気に入りの駐輪場</h2>
<div class="flex flex-wrap justify-between w-11/12 mx-auto">
  <% @parkings.each do |parking| %>
    <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5 mx-auto parking_card' %>
  <% end %> 
  <%= paginate @parkings %>
</div>