<h1 class="text-2xl sm:text-3xl text-center my-10">検索結果<br><span class="text-lg sm:text-2xl">(検索ワードの地点から半径１km以内を表示)</span></h1>
<div class="text-center">
  <%= render 'search_form' %>
</div>

  <% if @parkings.any? %>
    <p class="text-center text-2xl sm:text-3xl my-10">検索結果が見つかりました。</p>
    <div class="flex flex-wrap justify-between w-11/12 mx-auto">
      <% @parkings.each do |parking| %>
        <div class="parking_card my-5 mx-auto">
          <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s %>
        </div>
      <% end %>
  <% else %>
      <p class="text-2xl sm:text-3xl my-10 text-center">検索結果は見つかりませんでした。</p>
    </div>
  <% end %>

  <%= paginate @parkings %>

  <%= javascript_pack_tag 'getcurrentlocation' %>