%p
  = @resource.username
  様
%p パスワードリセットのお知らせ
%p 以下のリンクへアクセスし、新規パスワード(6字以上)を設定をお願いいたします。
%p= link_to '新規パスワードを設定する', edit_password_url(@resource, reset_password_token: @token)
%p このメールに見覚えがない場合は、無視してください。
%p 上記リンクへアクセス後、新規パスワードを設定しない限り変更されません。
