<footer class="px-5">
  <div class="py-5">
    <%= link_to root_path, id: "logo", class: "text-3xl" do %>
      <span class="fas fa-search-location"> bike_parking_search</span>
    <% end %>
  </div>
  <%= link_to  "お問合せとよくある質問", '#' %>
  <p class="text-center py-5">Copyright©KOUDAI KUMAZAKI. All Rights Reserved.</p>
</footer>