<footer class="border-solid border-current border-t">
  <div>
    <%= link_to "bike_parking_search", root_path, id: "logo", class: "text-3xl" %>
  </div>
  <%= link_to  "お問合せとよくある質問", '#' %>
  <p class="text-center">Copyright©KOUDAI KUMAZAKI. All Rights Reserved.</p>
</footer>