<footer class="px-5">
  <div class="py-5">
    <%= link_to root_path, class: "text-2xl lg:text-3xl" do %>
      <span class="fas fa-search-location"><span class="logo_typo"> bike_parking_search</span></span>
    <% end %>
  </div>
  <%= link_to  "お問合せとよくある質問", '#' %>
  <p class="text-center py-5 sm:text-sm text-xs">Copyright©KOUDAI KUMAZAKI. All Rights Reserved.</p>
</footer>