%footer.px-5
  .py-5
    = link_to root_path, class: "text-2xl lg:text-3xl" do
      %span.fas.fa-search-location
        %span.logo_typo bike_parking_search
  = link_to  "お問合せとよくある質問", '#'
  %p.text-center.py-5.sm:text-sm.text-xs Copyright©KOUDAI KUMAZAKI. All Rights Reserved.
